.listPlase{
 max-width: 602px;
 margin: 0 auto;
}
.list{   
padding: 22px;
border-bottom: 1px solid var(--table-line);
background: var(--white);
}
.link{
color: var(--text-color-main);
font-family: "MacPaw Fixel Display";
font-size: 20px;
font-weight: 500;
}
