.registerContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

  .loginInfo, .registerImg {
}
.position {
  display: flex;
  flex-direction: column;
}
/* @media screen and (max-width: 374px) {
  .registerContainer {
  }
  .position {
    
  }

  .registerImg {
  }
} */

@media screen and (max-width: 767px) {
  .registerContainer {
    max-width: 375px;
  }
  .position {
    width: 375px;
    position: relative;
  }
 .loginInfo, .registerInfo {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    /* border-radius: 25px 25px 0px 0px; */
    /* max-width: 375px; */
    background: white;
    border: none;
    overflow: hidden;
  }
  .registerImg {
  }
}

@media screen and (min-width: 768px) {
  .registerContainer {
    width: 768px;
    height: 1024px;
    margin: 0px auto;
  }

  .position {
    width: 648px;
    margin: 120px auto 106px auto;
    padding: 0 10px;
    justify-content: center;
  }

  .registerImg {
  }
}

@media screen and (min-width: 1440px) {
  .registerContainer {
    width: 1440px;
    height: 800px;
  }
  .position {
    width: 1260px;
    margin: 45px auto;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
  }

  .loginInfo {
    margin-top: 45px;
    margin-bottom: 25px;
  }
}
