.modal {
  position: relative;
  outline: 0;
  display: block !important;
  visibility: visible !important;
  z-index: 9999 !important;
    color: var(--white);
  font-family: "MacPaw Fixel Display";
}

.btnX {
  padding: 0;
  border: none;
  position: absolute;
  background-color: transparent;
}
.btnX:hover,
.btnX:focus,
.btnX:active {
  background-color: transparent;
  outline: 0;
}
.imgX {
  stroke: var(--white);
}

.title {
  font-weight: 600;
  display: block;
  margin: 0 auto 28px auto;
  text-align: center;
}

.textDone {
  display: inline-flex;
  column-gap: 64px;
}
.answerTitle{
color: rgba(252, 252, 252, 0.50);
font-weight: 400;
}
.list{
display: flex;
flex-direction: column;
row-gap: 8px;
}
.wordList{
    font-size: 16px;
font-weight: 500;
line-height: 1.5;
}
.imgposition{
  position: absolute;
  right: 12px;
  bottom: 44px;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 48px 16px;
    width: 343px;
  }

  .btnX {
    top: 16px;
    right: 16px;
  }
  .imgX {
    width: 24px;
    height: 24px;
  }
  .title {
    font-size: 24px;
    line-height: 1.67px;
    letter-spacing: -0.48px;
    margin-bottom: 16px;
  }

  .img {
    width: 152px;
    height: 121px;
  }
  .textDone {
  column-gap: 32px;
}
.answerTitle{
font-size: 14px;
}
.imgplase{
  height: 216px;
}
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 48px 64px;
    width: 528px;
  }
  .imgX {
    width: 32px;
    height: 32px;
  }
  .btnX {
    top: 20px;
    right: 20px;
  }
  .title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }

  .img {
    width: 212px;
    height: 179px;
  }
  .answerTitle{
font-size: 16px;
line-height: 1.5;
}
.wordList{
    font-size: 20px;
font-weight: 500;
}
.imgplase{
  height: 192px;
}
.imgposition{
position: absolute;
bottom: 21px;
right: 6px;
}

}
@media screen and (min-width: 1440px) {
}
