.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  outline: 0;
}

.btnX {
  padding: 0;
  border: none;
  position: absolute;
  background-color: transparent;
}
.btnX:hover, .btnX:focus, .btnX:active{
    background-color: transparent;
outline: 0;
}
.imgX {
  stroke: var(--white);
}
@media screen and (max-width: 767px) {
  .modal {
    padding: 48px 16px;
    width: 343px;
  }

  .btnX {
        top: 16px;
    right: 16px;
  }
  .imgX {
    width: 24px;
    height: 24px;

  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 48px 64px;
    width: 628px;
  }
  .imgX {
    width: 32px;
    height: 32px;

  }
  .btnX{
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    padding: 64px;
  }
}
